.em-heading{
    font-weight: bold;
    font-size: 50px;
}
.em-header{
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    
}

.search-input {
  width: 250px;
  height: 40px;
  border-radius: 6px;
}

.add-btn {
  background-color: #1a2321;
  color: #ffffff;
  border: none;
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #2e3a37; /* slightly lighter */
  transform: translateY(-2px); /* lift effect */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.add-btn:active {
  transform: scale(0.97);
}

.employee-table {
  padding: 20px;
  background-color: #ffffff;
}

/* Action Buttons Container */
.action-buttons {
  display: flex;
  gap: 8px;
}

